<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>할 일 목록 관리자 사이트</title>
  {% block css %}
  {% endblock css %}
</head>
<body>
  {% comment %} <a href="{% url "todos:main" %}">[MAIN]</a>
  <a href="{% url "todos:create" %}">[CREATE]</a> {% endcomment %}

  {% block content %}

  {% endblock content %}


  {% block aside %}
  {% endblock aside %}


  {% block footer %}
  {% endblock footer %}
</head>
<body>
  
</body>
</html>